In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
from sklearn.metrics import mean_absolute_error as mse

In [5]:
missing_values =["N/a", "na", np.nan, "", 0, "NaN"]
data = pd.read_csv("../Clean_Dataset/Final.csv",na_values = missing_values)
data = data.iloc[: , 1:]
data.head()

,Entity,Code,Year,Electricity(TWh),Meat_quantity,health_expenditure,GDP,Cereal yield
0,Albania,ALB,1990,3.30,17.00,NaN,2548.112549,2794.399902
1,Albania,ALB,1991,3.82,20.61,NaN,1908.095337,2071.899902
2,Albania,ALB,1992,3.40,20.07,NaN,1822.334717,2158.600098
3,Albania,ALB,1993,3.53,22.12,NaN,2056.373047,2685.000000
4,Albania,ALB,1994,3.94,24.94,NaN,2288.676025,2460.899902

In [12]:
traindata = data.loc[(data['Year'] <= 2015) & (data['Year'] > 1999)]
testdata = data.loc[(data['Year'] > 2015) & (data['Year']<=2018)]

In [11]:
country = ['Canada','India','Germany','France']
traindata = traindata.loc[(data['Entity'] == 'Canada') | (data['Entity'] == 'India') | (data['Entity'] == 'Germany') | (data['Entity'] == 'France')]
xtrain = traindata[['Entity','Code','Year','Electricity(TWh)','health_expenditure','Cereal yield']]
xtest = testdata[['Entity','Code','Year','Electricity(TWh)','health_expenditure','Cereal yield']]
ytrain = traindata[['Entity','Code','Year','GDP']]
ytest = testdata[['Entity','Code','Year','GDP']]

## Elastic Net Model

In [112]:
from sklearn.linear_model import ElasticNet

for each in country:
    x = xtrain.loc[(data['Entity'] == each),['Electricity(TWh)','health_expenditure','Cereal yield']]
    xtest_new = xtest.loc[(data['Entity'] == each),['Electricity(TWh)','health_expenditure','Cereal yield']]
    y = ytrain.loc[(data['Entity'] == each),['GDP']]
    ytest_new = ytest.loc[(data['Entity'] == each),['GDP']].to_numpy().flatten().round()
    ENmodel = ElasticNet(alpha=1.0, l1_ratio=0.5)
    ENmodel.fit(x,y)
    predictions = ENmodel.predict(xtest_new).round()
    print(each, " :")
    print("actual: ",ytest_new)
    print("predicted: ",predictions)
    print("RMSE: ",math.sqrt(mse(ytest_new,predictions)),"\n")

Canada  :
actual:  [46472. 48317. 49993.]
predicted:  [47750. 48410. 49061.]
RMSE:  27.70679820308847

India  :
actual:  [5840. 6183. 6675.]
predicted:  [5975. 6202. 6672.]
RMSE:  7.234178138070235

Germany  :
actual:  [50580. 53071. 55235.]
predicted:  [50637. 53153. 56165.]
RMSE:  18.876793513023692

France  :
actual:  [42925. 44577. 46577.]
predicted:  [42102. 42639. 44189.]
RMSE:  41.428653530296316